body {
    font-family: 'Roboto', sans-serif;
}

/* General */
.secondary {
    color: #E5E7EB;
    font-size: 18px;
}


/* Top section (header + overview) */
.top {
    background-color: #1F2937;
    display: flex column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-content: center;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.overview {
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    justify-self: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
}

.main-image {
    width: 400px;
}

/* Information */
.info {
    display: flex column;
    justify-items: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.images-container {
    display: flex;
    gap: 20px;
    max-width: 900px;
    margin-bottom: 50px;
}

.image {
    width: 200px;
    border: solid #3882F6;
    border-radius: 10px;
}

.image-and-description {
    display: flex column;
    justify-items: center;
    text-align: center;
    font-size: 15px;
}

/* Quote */
.quote-section {
    background-color: #E5E7EB;
    padding: 70px;
    padding-left: 500px;
    padding-right: 500px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: 900;
    text-align: right;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}